# Python
__pycache__/
*.pyc
*.pyo
*.pyd
.Python
env/
venv/
.venv/
pip-log.txt

# Jupyter
.ipynb_checkpoints/

# Data
data/raw/*.csv
data/raw/*.parquet
*.h5
*.pkl

# Models
data/models/*.h5
data/models/*.pkl

# IDE
.vscode/
.idea/
*.swp
*.swo

# OS
.DS_Store
Thumbs.db